
@{
    <!DOCTYPE html>
    <html>
    <head>
        <title>@Html.Sitecore().Field("Title")</title>
        @Html.Sitecore().Placeholder("head")
    </head>
    <body>
        @Html.Sitecore().Placeholder("header")
        @Html.Sitecore().Placeholder("main")
    </body>
</html>
